<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnQuiz_FE">
        
        <!-- Login Activity (Main Launcher) -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnQuiz_FE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Home Activity -->
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnQuiz_FE" />
        
        <!-- Camera Activity (Full Screen) -->
        <activity
            android:name=".ui.activities.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearnQuiz_FE" />
        
        <!-- Photo Preview Activity -->
        <activity
            android:name=".ui.activities.PhotoPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearnQuiz_FE" />
        
        <!-- Quiz Generation Activity -->
        <activity
            android:name=".ui.activities.QuizGenerationActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnQuiz_FE" />
        
        <!-- Quiz Taking Activity -->
        <activity
            android:name=".ui.activities.QuizTakingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearnQuiz_FE" />
        
        <!-- Quiz Result Activity -->
        <activity
            android:name=".ui.activities.QuizResultActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnQuiz_FE" />
        
        <!-- Original MainActivity (kept for reference) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnQuiz_FE" />
    </application>

</manifest>
